<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
            <img src="https://image.flaticon.com/icons/svg/1042/1042050.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            BulletinBoard
            </a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a href="{% url 'create' %}" class="btn btn-primary mr-1">
                            <span class="oi oi-plus"></span>
                        </a>
                        <a class="btn btn-outline-warning" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                        <form id="logout" method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                    {% else %}
                        <a class="btn btn-outline-success" href="{% url 'login' %}">Login</a>
                        <a class="btn btn-outline-success" href="{% url 'signup' %}">Register</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
</header>